.container{
    margin-bottom: 100px;
}
.bg-light{
    background-color: white !important;
}
.buy-now-button{
    background-color: black;
    color:white;
    border:none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.card{
    border:none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    padding: 3%;
    text-align: center;
}
.card p{
    color: rgb(129, 124, 124);
}
.card-footer{
    background-color: white;
    border:none
}
.phones h3{
    padding-bottom: 20px;
}
.laptop h3{
    padding-bottom: 20px;
}
.catagory h3{
    text-align: center;
    padding-bottom: 20px;
    
}
.cat-image{
    width: 100%;
    height: 100%;
}

.cat-card{
    border:none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    background-color: red;
    padding:5%;
    width: 100%;
    height: 100%;
    margin: 10%;
}

.underline{
    border: 5px solid rgb(231, 220, 60);
    width: 5%;
    border-radius: 4px;
}
   


